@import url(./common.css);

.content h2{ text-align: center;    }
body {background-color: #f8f8f8;}
.header-b {background-color: #f8f8f8;}
.main-img {margin: 11vh auto; overflow: hidden;}
.main-img > img {
    width: 100%;

    animation: main-img 7s forwards;
}
@keyframes main-img {
    100% {transform: scale(1.1);}
}
.main-01 {
    width: 90%;
    margin: 0 auto;
    padding: 90px 0;
}

.main-01-head > p > img {
    width: 100%;
    margin: 32px 0;
}
.main-01-head > div > p {text-align: center;}
.main-01-head > div > p:nth-of-type(1) {font-size: 36px;}
.main-01-head > div > p:nth-of-type(2) {
    margin-top: 12px;
    font-size: 16px;
}

.main-01 > ul {
    margin-top: 240px;

    display: flex;
    justify-content: space-between;
}
.main-01 > ul > li {
    width: 32%;
    margin: 0 1%;
    position: relative;
}
.main-01 > ul > li > .pro-img > .btn-wish {
    background: url(../resources/00.header/wishlist.png) no-repeat center;
    z-index: 2;
}
.main-01 > ul > li > .pro-img > a > img {width: 100%;}

.main-01 > ul > li > .pro-img {
    width: 100%;
    position: relative;
}
.main-01 > ul > li > .pro-img img:nth-of-type(2) {
    width: 100%;
    position: absolute; left: 0; top: 0;
    transition: 0.3s;
    opacity: 0;
}
.main-01 > ul > li > .pro-img:hover img:nth-of-type(2) {opacity: 1;}
.main-01 > ul > li > .pro-img > span {
    width: 100%; 
    padding: 6% 12%;

    display: block;
    position: absolute; left: 0; bottom: 0;

    font-size: 20px; color: #FFFFFF;
    text-align: center;
    background-color: rgba(121, 121, 121, 0.5); 
    opacity: 0%;
    z-index: 2;
}
.main-01 > ul > li > .pro-img:hover > span {
    transition: 0.5s;
    opacity: 100%;
}

.main-01 > ul > li > .pro-txt {margin-top: 20px;}
.main-01 > ul > li > .pro-txt > p {margin: 1px 0;}
.main-01 > ul > li > .pro-txt > p:nth-of-type(1) {color: #505050;}
.main-01 > ul > li > .pro-txt > p > span {
    font-size: 18px;
    font-weight: 600;
    margin-right: 2px;
}

.banner {
    width: 90%;
    margin: 0 auto;
    padding: 90px 0;

    position: relative;
}
.banner > img {width: 100%;}
.banner > div {
    position: absolute;
    left: 5%; top: 40%;
}
.banner > div > b {
    font-size: 2vw;
}
.banner > div > p {
    font-size: 1vw;
    margin: 2% 0;
}

.main-02 {
    width: 90%;
    margin: 0 auto;
    padding: 90px 0;
}
.main-02 > ul {
    margin-top: 32px;

    display: flex;
    justify-content: space-between;
}

/* scroll effect */
.main-02 > ul > li {
    width: 32%;
    margin: 0 1%;
    position: relative;

    opacity: 0;
    transform: translateY(100%);
}
.main-02 > ul > li:nth-of-type(1) {transition: 1.2s;}
.main-02 > ul > li:nth-of-type(2) {transition: 1.4s;}
.main-02 > ul > li:nth-of-type(3) {transition: 1.6s;}
.main-02 > ul > li:nth-of-type(4) {transition: 1.8s;}

.main-02 > ul > li.active {
    opacity: 1;
    transform: translateY(0%);
}


.main-02 > ul > li > .pro-img > a > img {
    width: 100%;
}
.main-02 > ul > li > .pro-img {
    width: 100%;
    position: relative;
}
.main-02 > ul > li > .pro-img > .btn-wish {z-index: 2;}
.main-02 > ul > li > .pro-img img:nth-of-type(2) {
    width: 100%;
    position: absolute; left: 0; top: 0;
    transition: 0.3s;
    opacity: 0;
}
.main-02 > ul > li > .pro-img:hover img:nth-of-type(2) {opacity: 1;}
.main-02 > ul > li > .pro-img > span {
    width: 100%; 
    padding: 6% 12%;

    display: block;
    position: absolute; left: 0; bottom: 0;

    font-size: 16px; color: #FFFFFF;
    text-align: center;
    background-color: rgba(121, 121, 121, 0.5); 
    opacity: 0%;
    z-index: 2;
}
.main-02 > ul > li > .pro-img:hover > span {
    transition: 0.5s;
    opacity: 100%;           
}





.main-02 > ul > li > .pro-txt {
    margin-top: 20px;
}
.main-02 > ul > li > .pro-txt > p {
    margin: 1px 0;
}
.main-02 > ul > li > .pro-txt > p:nth-of-type(1) {
    color: #505050;
}
.main-02 > ul > li > div > p > span {
    font-size: 18px;
    font-weight: 600;
    margin-right: 2px;
}





.main-03 {
    width: 80%;
    margin: 0 auto;
    padding: 90px 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    gap: 20px;
}
.main-03 > p {
    overflow: hidden;
}
.main-03 > p > img {
    object-fit: cover;
    width: 100%; height: 100%;
}
.main-03 > .img01 {
    grid-column: 1;
    grid-row: 1 / 3;
}
.main-03 > .img01:hover > img {
    transform: scale(1.2);
    transition: 1s;
}
.main-03 > .img02 {
    grid-column: 2;
    grid-row: 1 / 2;
}
.main-03 > .img02:hover > img {
    transform: scale(1.2);
    transition: 1s;
}
.main-03 > .img03 {
    grid-column: 3;
    grid-row: 1 / 3;
}
.main-03 > .img03:hover > img {
    transform: scale(1.2);
    transition: 1s;
}
.main-03 > .img04 {
    grid-column: 1;
    grid-row: 3 / 4;
}
.main-03 > .img04:hover > img {
    transform: scale(1.2);
    transition: 1s;
}
.main-03 > .img05 {
    grid-column: 2;
    grid-row: 2 / 4;
}
.main-03 > .img05:hover > img {
    transform: scale(1.2);
    transition: 1s;
}
.main-03 > .img06 {
    grid-column: 3;
    grid-row: 3 / 4;
}
.main-03 > .img06:hover > img {
    transform: scale(1.2);
    transition: 1s;
}


/* <!-- mobileeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee --> */
@media (max-width: 767px) {
    
.web {display: none;}
.mobile header {
    padding-top: 0%;
}
.mobile .main {
    width: 100%;
    position: relative;
}
.swiper-slide a {
    width: 100%;
    height: 100vh;
}
}