@import url(./common.css);


body {background-color: #000000;}

main {margin: 180px 0 500px 0;}
main > .collection {width: 90%; margin: 0 auto;}
main > .collection > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main > .collection > ul > li {
    width: 1380px; height: 870px;
    margin-bottom: 120px;
}

main > .collection > ul > li > p > img {width: 100%;}

main > .collection > ul > li > div {
    text-align: center;
    margin: 60px;
}
main > .collection > ul > li > div > .title {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 300;
}
main > .collection > ul > li > div > .context {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;

    margin: 12px auto;
}

main > .collection > ul > li > div > .btn-detail > a {
    background-color: #FFFFFF;

    padding: 8px 24px;
    border-radius: 40px;

    display: inline-block;
}

footer > .details > span {color: #FFFFFF;}
footer > .details > .info > p {color: #FFFFFF;}
footer > .details > .ins > p {color: #FFFFFF;}

.collect-more.active {display: flex;}

.collect-more {
    width: 80%; 
    margin: 0 auto; 

    position: fixed;
    left: 50%; bottom: 10%;
    transform: translateX(-50%);
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);

    display: none;
}
.collect-more > ul {
    display: flex;
    justify-content: space-between;
}
.collect-more > ul > li {
    width: 32%;
    margin: 0 1%;
    position: relative;
}
.collect-more > ul > li > .pro-img .btn-wish {z-index: 2;}
.collect-more > ul > li > .pro-img {
    width: 100%;
    position: relative;
}
.collect-more > ul > li > .pro-img img:nth-of-type(2) {
    width: 100%;
    position: absolute; left: 0; top: 0;
    transition: 0.3s;
    opacity: 0;
}
.collect-more > ul > li > .pro-img:hover img:nth-of-type(2) {opacity: 1;}
.collect-more > ul > li > .pro-img > a > img {width: 100%;}
.collect-more > ul > li > .pro-img > span {
    width: 100%; 
    padding: 6% 12%;

    display: block;
    position: absolute; left: 0; bottom: 0;

    font-size: 20px; color: #FFFFFF;
    text-align: center;
    background-color: rgba(121, 121, 121, 0.5); 
    opacity: 0%;
    z-index: 2;
}
.collect-more > ul > li > .pro-img:hover > span {
    transition: 0.5s;
    opacity: 100%;
}

.collect-more > ul > li > .pro-txt {margin-top: 20px;}
.collect-more > ul > li > .pro-txt > p {
    margin: 1px 0;
    color: #FFFFFF;
}
.collect-more > ul > li > .pro-txt > p:nth-of-type(1) {color: #dbdbdb;}
.collect-more > ul > li > .pro-txt > p > span {
    font-size: 18px;
    font-weight: 600;
    margin-right: 2px;
    color: #FFFFFF;
}



/* <!-- mobileeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee --> */

@media (max-width: 767px) {
    
main {margin: 10% 0 40% 0;}

.mobile h1 {display: none;}

.mobile header span > a {
    margin-top: 7px;
    position: absolute;
}
.mobile header span > a:nth-of-type(1) {
    font-size: 0;
    width: 30px; height: 30px;
    background: url(../resources/10.mobile/m-search-w.png) no-repeat center;
    top: 0; left: 1%;
}
.mobile header span > a:nth-of-type(2) {
    font-size: 0;
    width: 30px; height: 30px;
    background: url(../resources/10.mobile/m-menu-w.png) no-repeat center;
    top: 0; right: 1%;
}

.m-sub-collect-header > p {
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;

    text-align: center;

    margin-bottom: 20%;
}

main > .collection > ul > li {
    width: 100%; height: 60%;
    margin-bottom: 20%;
}
main > .collection > ul > li > p {
    width: 100%; 

    overflow: hidden;
}
main > .collection > ul > li > p > img {
    width: 310%; height: 100%;
}
main > .collection > ul > li:nth-of-type(1) > p > img {
    transform: translateX(-34%);
}
main > .collection > ul > li:nth-of-type(2) > p > img {
    transform: translateX(-10%);
}
main > .collection > ul > li:nth-of-type(3) > p > img {
    transform: translateX(-60%);
}

main > .collection > ul > li > div {
    text-align: center;
    margin: 10%;
}
main > .collection > ul > li > div > .title {
    color: #FFFFFF;
    font-size: 20px;
}
main > .collection > ul > li > div > .context {
    color: #FFFFFF;
    font-size: 12px;

    margin: 12px auto;
}
main > .collection > ul > li > div > .btn-detail > a {
    background-color: #FFFFFF;

    padding: 6px 17px;
    border-radius: 40px;

    font-size: 12px;

    display: inline-block;
}

.collect-more {
    width: 92%;

    position: fixed;
    left: 50%; bottom: 5%;
    transform: translateX(-50%);
}
.collect-more > ul {
    display: flex;
    flex-direction: column;
}
.collect-more > ul > li {
    width: 90%;
    padding: 2% 0;
    margin: 0 auto;
    display: flex;

}
.collect-more > ul > li > .pro-img {
    width: 50%;
}
.collect-more > ul > li > .pro-img > span {display: none;}

.collect-more > ul > li > .pro-txt {
    width: 50%;
    margin: 0 3%;
}
.collect-more > ul > li > .pro-txt > p {
    margin: 1px 0;
    font-size: 14px;
    color: #FFFFFF;
}
.collect-more > ul > li > .pro-txt > p:nth-of-type(1) {color: #dbdbdb;}
.collect-more > ul > li > .pro-txt > p > span {
    font-size: 16px;
    font-weight: 600;
    margin-right: 2px;
    color: #FFFFFF;
}

.btn-wish {
    background: url(../resources/10.mobile/m-wishlist.png) no-repeat center;
    margin: 0;
}




.mobile footer {
    background-color: #000000;
}
.mobile footer .m-sns {
    display: none;
}
.mobile footer .m-info span {
    color: #dbdbdb;
    font-weight: 500;
}
.mobile > footer > .m-info > div > p {
    color: #dbdbdb;
}

}